<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
 <listeners>
 <listener class-name="Listeners.listeners"></listener>
 </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.HomePagetest"/>
      <class name="testcases.SignupPagetest"/>
      <class name="testcases.LoginPagetest"/>
       <class name="testcases.LogoutPagetest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
